{% extends 'student_dashboard.html' %}
{% block body %}
<div class="container pt-3 pt-md-4 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100">
                <div class="text-center mb-4">
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wEt2nn.json" background="transparent" speed="1" style="width: 500px; height: 300px;" loop autoplay></lottie-player>
                </div>
                <div class="text-center text-md-center mb-4 mt-md-0">
                    <h4 class="mb-0">Welcome to MyProctor.ai</h4>
                    <br>
                    <h1 class="mb-0 h3">Hi, Student: {{session.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}